<!DOCTYPE html>
<html>
    <body>
        <ul class="people_list">
            {{#each productos}}
                <li>{{this.title}}  - {{this.stock}} - {{this.price}}</li>
            {{/each}}
        </ul>
    
    </body>
</html>